#container {
    @media screen and (min-width: 426px) {
        max-width: 1440px;
    }
}

.visual-area {
    padding: 130px 25px 0px;
    background-image: url(../../images/main/모바일-상단배너.png);
    background-size : cover;
    background-position: center;

    .vis-box {
        display: flex;
        justify-content: center;
    }
    strong {
      font-family: SOYOMapleBoldTTF;
      font-size: 24px;
      color: $white;
    }
    p {
      text-align: center;
      padding: 20px 0 80px;
      color: $white;
    }
    .vis-p-w {
        display: none;
    }
    @media screen and (max-width:370px) {
        strong {
            font-size: 20px;
        }       
    }
    @media screen and (min-width: 480px) {
        padding: 256px 0 0 0;
        strong {
            font-size: 36px;
        }
        p {
            padding: 35px 0 164px;
            font-size: 20px;
        }
    }
    @media screen and (min-width: 768px) {
        .vis-p-m {
            display: none;
        }
        .vis-p-w {
            display: block;
        }
    }
}

.web-main-box {
    ul {
        display: flex;
        justify-content: center;
        position: relative;
        top: -78px;
        left: 0;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 305px;
        height: 152px;
        margin: 0 5px;
        border-radius: 10px;
        background-color: $white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .icon-box {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        background-color: $gray-100;
    }
    .icon-1 {
        background-image: url(../../images/main/icon1.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .icon-2 {
        background-image: url(../../images/main/icon2.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .icon-3 {
        background-image: url(../../images/main/icon3.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .icon-box-txt {
        margin-left: 15px;
    }
    strong {
        font-size: 18px;
    }
    p {
        padding-top: 10px;
        font-size: 14px;
        color: $gray-200;
    }
    @media screen and (max-width:1023px) {
        display: none;
    }
}

.main-cont {
    padding: 80px 25px 80px;

    em {
      font-size: 15px;
      font-style: normal;
      color: $secondary;
    }
    h2 {
      margin-top: 12px;
      font-size: 28px;
      line-height: 36px;
    }

    @media screen and (min-width: 768px) {
        padding: 80px 80px 140px;

        em,
        h2 {
            display: block;
            text-align: center;
        }
    }
    @media screen and (min-width: 1024px) {
        em {
            font-size: 24px;

        }
        h2 {
            margin-top: 27px;
            margin-bottom: 70px;
            font-size: 42px;
            line-height: 60px;
            text-align: center;
        }
    }
}

.int-box-wrap {
    position: relative;
}

.intro {
    padding-bottom: 0;
    overflow: hidden;

    .swiper-slide {
        width: 310px !important;
        margin-right: 25px;
    }
    .int-slide-wrap {
        width: 100%;
    }
    .int-image {
        margin-top: 36px;
        margin-bottom: 24px;
        line-height: 0;
        background-size : cover;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
    strong {
        font-size: 20px;
        color: $white;
    }
    p {
        margin-top: 12px;
        padding-bottom: 80px;
        font-size: 14px;
        color: $white;
    }   
    .inner-w,
    .int-typo-w {
        display: none;
    }
    
    .inner-w-1,
    .inner-w-2 {
        width: calc(100% - 45px);
    }
    @media screen and (min-width: 654px) {
        .inner-m {
            display: none;
        }
        .inner-w {
            display: flex;
        }
        img {
            width: 100%;
            object-fit: fill;
        }
        .inner-w-1 {
            margin-right: 46px;
        }
    }
    @media screen and (min-width: 768px) {
        p {
            padding-bottom: 40px;
        }
        .int-typo-m {
            display: none;
        }
        .int-typo-w {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 0;
            }
            hr {
                display: block;
                margin: 35px 0;
                width: 40px;
                border: 1px solid $secondary;
            }
            p {
                margin-top: 0;
                text-align: center;
                color: $gray-200;
            }
        }
        .int-image {
            margin-top: 0;
        }
    }
    @media screen and (min-width: 1024px) {
        padding-top: 24px;

        strong {
            font-size: 32px;
        }
        p {
            font-size: 20px;
            padding-bottom: 80px;
        }
    }
}
.mySwiper {
    overflow: visible;
}
.int-box {
    position: absolute;
    z-index: -1000;
    width: 100%;
    top: 422px;
    height: 250px;
    background-color: $primary;

    @media screen and (min-width: 768px) {
        top: 487px;
        height: 280px;
    }
    @media screen and (min-width: 1024px) {
        top: 717px;
        height: 300px;
    }
    @media screen and (min-width: 1210px) {
        top: 812px;
        height: 365px;
    }
}

.treat {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 36px;
    }
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(50% - 10px);
        height: 150px;
        overflow: hidden;
        transition: all 0.2s linear;
    }
    li:hover {
        transform: scale(1.1);
    }
    .trt-btn-wrap {
        display: none;
    }
    .trt-img {
        width: 42px;
        height: 42px;
        background-size : contain;
        background-repeat: no-repeat;
    }
    .internal {
        background-image: url(../../images/sub/internal.png);
    }
    .surgery {
        background-image: url(../../images/sub/surgery.png);
    }
    .dental {
        background-image: url(../../images/sub/dental.png);
    }
    .picture {
        background-image: url(../../images/sub/picture.png);
    }
    .trt-internal,
    .trt-surgery,
    .trt-dental,
    .trt-picture {
        background-size : cover;
        background-position: center;
    }
    .trt-internal {
        background-image: url(../../images/main/모바일-내과.png);
    }
    .trt-surgery {
        background-image: url(../../images/main/모바일-외과.png);
    }
    .trt-dental {
        background-image: url(../../images/main/모바일-치과.png);
    }
    .trt-picture {
        background-image: url(../../images/main/모바일-영상.png);
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        }
    p {
        margin: 12px 0;
    }
    button {
        width: 25px;
        height: 25px;
        border-radius: 100px;
        color: $white;
        background-color: $primary;
    }
    .trt-internal,
    .trt-surgery {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 654px) {
        .trt-internal,
        .trt-surgery {
            margin-bottom: 0;
        }
        p {
            margin-right: 10px;
            font-size: 42px;
        }
        .trt-inner ul {
            flex-wrap: nowrap;
        }
        .trt-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 20px;
        }
        .trt-img {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
        }
        .trt-btn-wrap {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 10px;
            font-size: 14px;

            p {
                display: inline-block;
                text-align: center;
                margin:  0 5px 5px 0;
                padding: 5px 10px;
                font-size: 12px;
                border: 1px solid $white;
                border-radius: 20px;
            }
        }
        li {
            justify-content: flex-start;
            align-items: flex-start;
            width: calc(25% - 6px);
            height: 557px;
            margin-bottom: 0;
            padding-top: 200px;
        }
        button {
            width: 40px;
            height: 40px;
            font-size: 36px;
        }
    }
    @media screen and (min-width: 1024px) {
        li {
            padding-top: 270px;
        }        
    }
    @media screen and (min-width: 1240px) {
        li {
            padding-top: 290px;
            width: calc(25% - 20px);
        }        
    }
}

.care-service {
    background-color: $gray-100;

    .care-image {
        line-height: 0;
        width: 100%;
        margin: 36px 0 20px;
    }
    img {
        width: 100%;
    }
    strong {
        font-size: 20px;
        color: $secondary;
    }
    p {
        margin-top: 15px;
        font-size: 14px;
    }
    @media screen and (max-width:370px) {
        strong {
            font-size: 18px;
        }
        p {
            font-size: 12px;
        }
    }
    @media screen and (min-width: 654px) {
        .care-wrap {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            column-gap: 66px;

            .care-image {
                grid-row: 1 / 3;
                margin: 0;
            }
            em,
            h2 {
                text-align: left;
            }
        }
    }
    @media screen and (min-width: 1170px) {
        h2 {
            margin-bottom: 49px;
        }
        strong {
            font-size: 28px;
        }
        p {
            font-size: 20px;
        }
    }
}

.map {
    .map-wrapper {
        margin-top: 36px;
        height: 240px;
    }
    .address {
        display: grid;
        align-items: center;
        grid-template-columns: 20px 1fr;
        grid-template-rows: 28px;
        row-gap: 12px;
        column-gap: 6px;
        margin-top: 40px;

        p {
            font-size: 18px;
            font-weight: bold;
        }
    }
    .map-btn-wrap {
        display: flex;
        grid-column: 2;
        gap: 6px;
    }
    .map-btn {
        height: 30px;
        background-color: $primary;
        border-radius: 10px;
    }
    a {
        padding: 8px 10px;
        color: $white;
        font-size: 12px;
        text-align: center;
    }
    i {
        color: $txtDefult;
    }
    .map-subway {
        align-items: center;
    }
    .map-bus {
        align-items: start;
        i {
            padding-top: 7px;
        }
    }
    .map-subway,
    .map-bus {
        margin-top: 36px;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 12px;
    } 
    dt {
        color: $white;
        text-align: center;
        border-radius: 15px;
        padding: 3px 12px;
    }
    .line-1 {
        background: #3356B4;
    }
    .general {
        background: #00AEAB;
    }
    .town {
        background: #5FB73C;
    }
    .seat {
        background: #339CF0;
    }
    .direct {
       background: #F86E55;
    }
    .map-subway dl {
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: center;
        column-gap: 12px;
    }
    .map-bus dl {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 60px 1fr;
        align-items: center;
        gap: 12px;

        dt {
            grid-column: 1;
        }
        dd {
            grid-column: 2;
        }
    }
    .map-wrapper .wrap_map {
        height: 100%;
    }
    @media screen and (min-width: 773px) {
        h2 {
            margin-bottom: 0;
        }
        .map-wrap {
            display: flex;
            padding-top: 70px;

            .map-wrapper {
                width: 50%;
                height: auto;
            }
            .map-inner {
                width: 50%;
                padding-left: 40px;
            }
            .map-wrapper,
            .address {
                margin-top: 0;
            }
            .address {
                row-gap: 20px;
                column-gap: 8px;
            }
            .map-subway {
                margin-top: 50px;
            }
            p {
                font-size: 28px;
            }
            dl {
                font-size: 17px;
            }
        }
    }
}


#footer {
    .counsel {
        padding: 80px 25px 80px;
        background-color: $secondary;

        .counsel-typo {
            margin-bottom: 36px;
        }
        h3 {
        font-family: SOYOMapleBoldTTF;
        font-size: 20px;
        color: $white;
        }
        .privacy {
            display: flex;
            align-items: center
        }
        i {
            color: $white;
            padding-right: 5px;
        }
    }

    form { 
        label {
            position: absolute;
            width: 0; 
            height: 0;
            font-size: 0;
            line-height: 0;
            visibility: hidden;
        }
        input[type=text] {
            border-radius: 5px;
            height: 47px;
        }
        input::placeholder {
            color: rgba(255, 255, 255,0.7);
        }
        textarea::placeholder {
            color: rgba(255, 255, 255,0.7);
        }
        input,
        textarea {
            width: 100%;
            padding: 0 24px;
            margin-top: 10px;
            background-color: $primary;
            border: 0;
            border-radius: 5px;
            font-family: $font-family;
        }
        textarea {
            height: 150px;
            padding-top: 15px;
        }
        .privacy {
            margin: 12px 0 40px;
        }
        span {
            color: $white;
            font-size: 14px;
        }
        .counsel-btn {
        width: 100%;
        height: 47px;
        background-color: $txtDefult;
        border-radius: 5px;
        border: 0;
        color: $white;
        }
    }

    @media screen and (max-width:370px) {  
        .main-cont h2 {
            font-size: 24px;
        } 
    }
    @media screen and (min-width:1024px) {
        .f-wrap {
            display: flex;
            justify-content: space-between;
        }
        .counsel {
            padding: 80px;
            width: 50%;

            .counsel-typo {
                margin-bottom: 60px;
            }
            h3 {
                font-size: 36px;
            }
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .form-wrap {
                    width: 50%;
                    padding-right: 36px;
                }
                label {
                    position: static;
                    visibility: visible;
                    font-size: 16px;
                    color: $white;
                }
                #name {
                    margin-bottom: 22px;
                }
                .txtarea-box {
                    width: 50%;
                    padding-bottom: 20px;
                }
                .privacy {
                    align-items: flex-start;
                    margin: 0;
                }
                .counsel-btn {
                    width: 50%;
                    height: 60px;
                    margin: 0;
                }
            }
        }
        .f-top {
            width: 50%;
        }
    }
}


