:root {
    --swiper-theme-color: #79C3B8 !important; 
}


.gnb-sub {
    .gnb-box:hover a {
        color: $primary;
    }
    .digestive {
        border-color: $gray-200;
    }
    .digestive > a {
        color: $primary;
    }
}

h2 {
    font-size: 28px;
}

.digestive-intro {
    padding-top: 22px;
    text-align: left;

    .sub-intro-w {
        display: none;
    }
    .int-image {
        height: 150px;
        background-image: url(../../images/sub/2-banner.png);
        background-position: center;
        background-size : cover;
    }
    .int-typo {
        padding: 0 25px;
    }
    h2 {
        margin-top: 22px;
    }
    .dig-tit {
        margin-top: 16px;
        font-size: 14px;
        color: $gray-300;
    }
    @media screen and (max-width:370px) {
        h2 {
            font-size: 26px;
        }
        .dig-tit {
            font-size: 12px;
        }
    }
    @media screen and (min-width: 1024px) {
        padding-top: 0;

        .int-image {
            height: 400px;
        }
        .int-typo {
            padding: 0;
        }
        .sub-intro-m {
            display: none;
        }        
        .sub-intro-w {
            display: block;
            
            h2 {
                margin-top: 70px;
            }
            span {
                position: relative;
              }
            span::after {
            content: '';
                display: block;
                width: 0;
                height: 10px;
                position: absolute;
                left: 0;
                bottom: 5px;
                z-index: -100;
                background: linear-gradient(to right, $secondary 0%, $primary 100%);
            }
            span::after {
                width: 100%;
                transition: width .3s;
            }
            .dig-tit {
                margin-top: 40px;
                font-size: 20px;
            }
        }
    }
}

.digestive-symptom {
    background-color: $gray-100;

    .symptom-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 80px 0;
    }
    .symptom-w {
        display: none;
    }
    p {
        padding-top: 16px;
        padding-bottom: 22px;
        font-size: 14px;
        color: $gray-300;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 235px;
        height: 50px;
        margin-top: 14px;
        border-radius: 235px;
        background-color: $white;

        i {
            margin-left: 70px;
            margin-right: 12px;
            color: $primary;
        }
        p {
            padding: 14px 0;
            color: $txtDefult;
        }
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .symptom-wrap {
            padding: 140px 80px;
            max-width: 1440px;
        }
        .symptom-m {
            display: none;
        }
        .symptom-w {
            display: block;
            font-size: 20px;
        }
        h2 {
            font-size: 50px;
            margin-bottom: 15px;
        }
        p {
            padding: 0;
        }
        ul {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin-top: 70px;
            gap: 50px;
        }
        li {
            width: 300px;
            height: 65px;
            margin: 0;

            p {
                font-size: 20px;
            }
        }
    }
}

.digestive-checkup {
    .check-up-w {
        display: none;
    }
    p {
        padding-top: 16px;
        padding-bottom: 36px;
        font-size: 14px;
        color: $gray-300;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        width: 49%;
        height: 188px;
        border: 1px solid $gray-200;
    }
    .checkup-img {
        width: 64px;
        height: 64px;
    }
    .blood-img {
        background-image: url(../../images/sub/blood.png);
    }
    .radiation-img {
        background-image: url(../../images/sub/radiation.png);
    }
    .ultrasonic-img {
        background-image: url(../../images/sub/ultrasonic.png);
    }
    .stool-img {
        background-image: url(../../images/sub/stool.png);
    }
    .urine-img {
        background-image: url(../../images/sub/urine.png);
    }
    .kit-img {
        background-image: url(../../images/sub/kit.png);
    }
    .number {
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 25px;
        color: $white;
        border-radius: 25px;
        background: linear-gradient(to right bottom, $secondary 0%, $primary 100%);
    }
    .name {
        margin: 10px 0 12px;
        font-size: 20px;
        font-weight: bold;
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .check-up-m {
            display: none;
        }
        .check-up-w {
            display: block;

            p {
                padding: 15px 0 70px;
                font-size: 20px;
            }
        }
        ul {
            width: 80%;
            row-gap: 5px;
        }
        li {
            width: 33%;
            height: 330px;
            margin: 0;

            .number {
                width: 35px;
                height: 35px;
                padding-top: 5px;
                font-size: 16px;
            }
            .name {
                font-size: 32px;
            }
        }
    }
}

.digestive-food {
    padding: 80px 25px;
    background: linear-gradient(180deg, #fff, #f0f3f5 100%);

    .food-w {
        display: none;
    }
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .swiper {
        width: 100%;
        max-width: 1280px;
        height: 100%;
        padding: 0 0 60px;
    }
    .swiper-slide {
        width: 249px;
        font-size: 18px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    span {
        padding: 15px 0 10px 26px;
        font-size: 28px;
        font-weight: bold;
    }
    .food-txt {
        border-top: 1px solid $gray-100;
    }
    p {
        padding: 13px 0 16px 25px;
        font-size: 14px;
        text-align: left;
    }
    .food-image {
        width: 100%;
        height: 183px;
    }
    .onion {
        background-image: url(../../images/sub/2-onion.png);
    }
    .grape {
        background-image: url(../../images/sub/2-grape.png);
    }
    .milk {
        background-image: url(../../images/sub/2-milk.png);
    }
    .coffee {
        background-image: url(../../images/sub/2-coffee.png);
    }
    .nut {
        background-image: url(../../images/sub/2-nut.png);
    }
    .dried {
        background-image: url(../../images/sub/2-dried.png);
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: auto;
        bottom: 0;
    }
    @media screen and (min-width: 1024px) {
        padding: 140px 80px;

        h2 {
            font-size: 50px;
            margin-bottom: 70px;
        }
        .food-m {
            display: none;
        }      
        .food-w {
            display: block;
        }  
    }
}
