// 변수 설정

$txtDefult: #383838;
$primary: #00AEAA;
$secondary: #79C3B8;

$white: #fff;
$black: #000;

$gray-100: #f0f3f5; 
$gray-200: #8d8d8d;
$gray-300: #676767;

$font-size: 14px;
$font-family: 'SUITE-Regular';

$hdH: 60px;
$ftH: 503px;

