@charset "UTF-8";
@font-face {
  font-family: "SOYOMapleBoldTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2") format("woff2");
  font-weight: 400, 700;
  font-style: normal;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "SUITE-Regular", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #383838;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #383838;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  min-height: 100vh;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: none;
  }
}
@media screen and (min-width: 426px) {
  .wrap {
    max-width: 1440px;
  }
}
#header {
  height: 60px;
}
@media screen and (min-width: 426px) {
  #header {
    height: 100px;
  }
}

#main {
  flex-grow: 1;
}

#container-sub {
  text-align: center;
}

#footer {
  height: 503px;
}

@media screen and (min-width: 1280px) {
  .inner {
    padding: 0;
  }
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 25px;
}
#header .logo {
  width: 128px;
  height: 20px;
  position: relative;
  z-index: 1100;
  background-image: url(../../images/comm/병원\ 로고\(청록\).png);
  background-size: 128px 20px;
}
#header .h-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
#header .logo a {
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
#header .gnb-wrap .inp-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: 0;
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(2) {
  display: none;
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(3) {
  transform: translateY(-3px) rotate(-45deg);
}
#header .gnb-wrap .inp-burger:checked ~ #gnb {
  left: 0;
}
#header .gnb-wrap .label-burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 1100;
}
#header .gnb-wrap .label-burger .bar {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 30px;
  transition: all 0.3;
}
@media screen and (min-width: 768px) {
  #header {
    max-width: 1440px;
    padding: 0 80px;
  }
  #header .h-inner {
    margin-top: 0;
    padding: 33px 0;
  }
}
@media screen and (min-width: 1024px) {
  #header .logo {
    width: 187px;
    height: 30px;
    background-size: contain;
  }
}

#gnb {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  padding-top: 100px;
  background-color: #00AEAA;
  transition: all 0.5s;
}
#gnb .depth1 li:hover .depth2 {
  opacity: 1;
  visibility: 1;
  max-height: 300px;
  padding: 20px 0;
}
#gnb .depth2 li:hover a {
  color: #79C3B8;
}
#gnb ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#gnb .depth1 {
  display: flex;
  width: 100%;
  padding: 0 25px;
}
#gnb .depth1 > li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f0f3f5;
}
#gnb .depth1 > li > a {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px 0 40px;
  white-space: nowrap;
  font-size: 18px;
  color: #fff;
}
#gnb .depth2 {
  overflow: hidden;
  visibility: 0;
  transition: all 0.3s;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  max-height: 0;
  padding: 0;
  z-index: 1100;
  text-align: center;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
}
#gnb .depth2 a {
  display: block;
  padding: 3px 10px;
}

.customer {
  height: 67px;
  background-color: #79C3B8;
}
.customer p {
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

#footer {
  background-color: #383838;
}
#footer span, #footer p {
  color: #fff;
}
#footer .f-top {
  padding: 40px 25px;
  color: #fff;
}
#footer .f-top .phone-counsel {
  display: flex;
  align-items: center;
  gap: 58px;
}
#footer .f-top p {
  font-size: 28px;
  color: #79C3B8;
}
#footer .f-top .clinic-hours {
  display: flex;
  align-items: flex-start;
  gap: 58px;
  margin-top: 40px;
}
#footer .f-top .txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#footer .f-top .txt span {
  margin-top: 10px;
  font-size: 12px;
  color: #8d8d8d;
}
#footer .f-top dl {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto 1fr;
  row-gap: 10px;
}
#footer .f-top dd {
  padding-left: 40px;
}
#footer .f-top i {
  padding-right: 10px;
  color: #fff;
}
@media screen and (max-width: 370px) {
  #footer .f-top dt,
  #footer .f-top dd,
  #footer .f-top span {
    font-size: 12px;
  }
  #footer .f-top .phone-counsel,
  #footer .f-top .clinic-hours {
    gap: 25px;
  }
  #footer .f-top i {
    padding-right: 5px;
  }
  #footer .f-top dd {
    padding-left: 20px;
  }
}
#footer .f-bottom p {
  font-style: normal;
  color: #8d8d8d;
  padding: 40px 25px 0;
  font-size: 12px;
}
#footer .f-bottom .hospital {
  border-top: 1px solid #8d8d8d;
}
#footer .f-bottom .copyright {
  padding: 10px 25px 40px;
}

.sub-banner {
  padding: 150px 25px 0;
  text-align: left;
  color: #fff;
  background-image: url(../../images/sub/모바일-상단배너.png);
}
.sub-banner strong {
  font-size: 32px;
}
.sub-banner p {
  font-size: 11px;
  padding: 10px 0 25px;
  text-align: left;
}

.gnb-sub {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.gnb-sub .gnb-box {
  padding-top: 7px;
  width: 75px;
  height: 35px;
  font-size: 14px;
  border-bottom: 1px solid #f0f3f5;
}

@media screen and (min-width: 426px) {
  #container {
    max-width: 1440px;
  }
}

.visual-area {
  padding: 130px 25px 0px;
  background-image: url(../../images/main/모바일-상단배너.png);
  background-size: cover;
}
.visual-area .vis-box {
  display: flex;
  justify-content: center;
}
.visual-area strong {
  font-family: SOYOMapleBoldTTF;
  font-size: 24px;
  color: #fff;
}
.visual-area p {
  text-align: center;
  padding: 20px 0 80px;
  color: #fff;
}
.visual-area .vis-p-w {
  display: none;
}
@media screen and (max-width: 370px) {
  .visual-area strong {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) {
  .visual-area {
    padding: 256px 0 0 0;
  }
  .visual-area strong {
    font-size: 36px;
  }
  .visual-area p {
    padding: 35px 0 164px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .visual-area .vis-p-m {
    display: none;
  }
  .visual-area .vis-p-w {
    display: block;
  }
}

.web-main-box ul {
  display: flex;
  justify-content: center;
  position: relative;
  top: -78px;
  left: 0;
}
.web-main-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px;
  height: 152px;
  margin: 0 5px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.web-main-box .icon-box {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background-color: #f0f3f5;
}
.web-main-box .icon-1 {
  background-image: url(../../images/main/icon1.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.web-main-box .icon-2 {
  background-image: url(../../images/main/icon2.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.web-main-box .icon-3 {
  background-image: url(../../images/main/icon3.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.web-main-box .icon-box-txt {
  margin-left: 15px;
}
.web-main-box strong {
  font-size: 18px;
}
.web-main-box p {
  padding-top: 10px;
  font-size: 14px;
  color: #8d8d8d;
}
@media screen and (max-width: 1023px) {
  .web-main-box {
    display: none;
  }
}

.main-cont {
  padding: 80px 25px 80px;
}
.main-cont em {
  font-size: 15px;
  font-style: normal;
  color: #79C3B8;
}
.main-cont h2 {
  margin-top: 12px;
  font-size: 28px;
  line-height: 36px;
}
@media screen and (min-width: 768px) {
  .main-cont {
    padding: 80px 80px 140px;
  }
  .main-cont em,
  .main-cont h2 {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .main-cont em {
    font-size: 24px;
  }
  .main-cont h2 {
    margin-top: 27px;
    margin-bottom: 70px;
    font-size: 42px;
    line-height: 60px;
    text-align: center;
  }
}

.int-box-wrap {
  position: relative;
}

.intro {
  padding-bottom: 0;
}
.intro .swiper-slide {
  width: 310px !important;
}
.intro .int-slide-wrap {
  width: 100%;
}
.intro .int-image {
  margin-top: 36px;
  margin-bottom: 24px;
  line-height: 0;
  background-size: cover;
}
.intro img {
  -o-object-fit: cover;
     object-fit: cover;
}
.intro strong {
  font-size: 20px;
  color: #fff;
}
.intro p {
  margin-top: 12px;
  padding-bottom: 80px;
  font-size: 14px;
  color: #fff;
}
.intro .inner-w,
.intro .int-typo-w {
  display: none;
}
.intro .inner-w-1,
.intro .inner-w-2 {
  width: calc(100% - 45px);
}
@media screen and (min-width: 654px) {
  .intro .inner-m {
    display: none;
  }
  .intro .inner-w {
    display: flex;
  }
  .intro img {
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .intro .inner-w-1 {
    margin-right: 46px;
  }
}
@media screen and (min-width: 768px) {
  .intro p {
    padding-bottom: 40px;
  }
  .intro .int-typo-m {
    display: none;
  }
  .intro .int-typo-w {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro .int-typo-w h2 {
    margin-bottom: 0;
  }
  .intro .int-typo-w hr {
    display: block;
    margin: 35px 0;
    width: 40px;
    border: 1px solid #79C3B8;
  }
  .intro .int-typo-w p {
    text-align: center;
    color: #8d8d8d;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    padding-top: 24px;
  }
  .intro strong {
    font-size: 32px;
  }
  .intro p {
    font-size: 20px;
    padding-bottom: 80px;
  }
}

.int-box {
  position: absolute;
  z-index: -1000;
  width: 100%;
  top: 427px;
  height: 250px;
  background-color: #00AEAA;
}
@media screen and (min-width: 768px) {
  .int-box {
    top: 610px;
    height: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .int-box {
    top: 800px;
    height: 300px;
  }
}
@media screen and (min-width: 1210px) {
  .int-box {
    top: 831px;
    height: 365px;
  }
}
@media screen and (min-width: 1440px) {
  .int-box {
    top: 898px;
  }
}

.treat ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 36px;
}
.treat li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  height: 150px;
  overflow: hidden;
  transition: all 0.2s linear;
}
.treat li:hover {
  transform: scale(1.1);
}
.treat .trt-w {
  display: none;
}
.treat .trt-img {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
}
.treat .internal {
  background-image: url(../../images/sub/internal.png);
}
.treat .surgery {
  background-image: url(../../images/sub/surgery.png);
}
.treat .dental {
  background-image: url(../../images/sub/dental.png);
}
.treat .picture {
  background-image: url(../../images/sub/picture.png);
}
.treat .trt-internal {
  background-image: url(../../images/main/모바일-내과.png);
  background-size: cover;
}
.treat .trt-surgery {
  background-image: url(../../images/main/모바일-외과.png);
  background-size: cover;
}
.treat .trt-dental {
  background-image: url(../../images/main/모바일-치과.png);
  background-size: cover;
}
.treat .trt-picture {
  background-image: url(../../images/main/모바일-영상.png);
  background-size: cover;
}
.treat a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.treat p {
  margin: 12px 0;
}
.treat button {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  color: #fff;
  background-color: #00AEAA;
}
.treat .trt-internal,
.treat .trt-surgery {
  margin-bottom: 20px;
}
@media screen and (min-width: 654px) {
  .treat p {
    margin-right: 10px;
    font-size: 42px;
  }
  .treat .trt-inner ul {
    flex-wrap: nowrap;
  }
  .treat .trt-m {
    display: none;
  }
  .treat .trt-w {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .treat .trt-img {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  .treat .trt-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
  }
  .treat .trt-btn-wrap p {
    display: inline-block;
    text-align: center;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 20px;
  }
  .treat li {
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(25% - 6px);
    height: 557px;
    margin-bottom: 0;
    padding-top: 200px;
  }
  .treat button {
    width: 40px;
    height: 40px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .treat li {
    padding-top: 270px;
  }
}
@media screen and (min-width: 1240px) {
  .treat li {
    padding-top: 290px;
    width: calc(25% - 20px);
  }
}

.care-service {
  background-color: #f0f3f5;
}
.care-service .care-wrap-w {
  display: none;
}
.care-service .care-image {
  height: 180px;
  margin-top: 36px;
  margin-bottom: 20px;
  line-height: 0;
  background-image: url(../../images/main/모바일-미용케어.png);
  background-size: cover;
}
.care-service strong {
  font-size: 20px;
  color: #79C3B8;
}
.care-service p {
  margin-top: 20px;
  font-size: 14px;
}
@media screen and (max-width: 370px) {
  .care-service strong {
    font-size: 18px;
  }
  .care-service p {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .care-service .care-wrap-m {
    display: none;
  }
  .care-service .care-wrap-w {
    display: flex;
    justify-content: space-between;
  }
  .care-service .care-wrap-w .care-image,
  .care-service .care-wrap-w .care-inner {
    width: 50%;
  }
  .care-service .care-wrap-w .care-image {
    margin: 0;
    height: 391px;
  }
  .care-service .care-wrap-w .care-inner {
    padding-left: 70px;
  }
  .care-service .care-wrap-w em,
  .care-service .care-wrap-w h2 {
    text-align: left;
  }
}
@media screen and (max-width: 905px) {
  .care-service .care-wrap-w .care-image {
    width: 45%;
    height: 206px;
  }
  .care-service .care-wrap-w .care-inner {
    width: 55%;
    padding-left: 30px;
  }
}

.map .map-wrapper {
  margin-top: 36px;
}
.map .address {
  display: grid;
  align-items: center;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 20px 1fr;
  gap: 12px;
  margin-top: 40px;
}
.map .address p {
  font-weight: bold;
}
.map .map-btn-wrap {
  display: flex;
  grid-column: 2;
  gap: 6px;
}
.map .map-btn {
  height: 30px;
  background-color: #00AEAA;
  border-radius: 10px;
}
.map a {
  padding: 8px 10px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.map i {
  color: #383838;
}
.map .map-subway {
  align-items: center;
}
.map .map-bus {
  align-items: start;
}
.map .map-bus i {
  padding-top: 7px;
}
.map .map-subway,
.map .map-bus {
  margin-top: 36px;
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.map dt {
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 3px 12px;
}
.map .line-1 {
  background: #3356B4;
}
.map .general {
  background: #00AEAB;
}
.map .town {
  background: #5FB73C;
}
.map .seat {
  background: #339CF0;
}
.map .direct {
  background: #F86E55;
}
.map .map-subway dl {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.map .map-bus dl {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 12px;
}
.map .map-bus dl dt {
  grid-column: 1;
}
.map .map-bus dl dd {
  grid-column: 2;
}

.counsel {
  background-color: #79C3B8;
}
.counsel .counsel-typo {
  margin-bottom: 36px;
}
.counsel h3 {
  font-family: SOYOMapleBoldTTF;
  font-size: 20px;
  color: #fff;
}
.counsel .privacy {
  display: flex;
  align-items: center;
}
.counsel i {
  color: #fff;
  padding-right: 5px;
}

form label {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
form input[type=text] {
  border-radius: 5px;
  height: 47px;
}
form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
form input,
form textarea {
  width: 100%;
  padding: 0 24px;
  margin-top: 10px;
  background-color: #00AEAA;
  border: 0;
  border-radius: 5px;
  font-family: "SUITE-Regular";
}
form textarea {
  height: 150px;
  padding-top: 15px;
}
form .privacy {
  margin: 12px 0 40px;
}
form span {
  color: #fff;
  font-size: 14px;
}
form .counsel-btn {
  width: 100%;
  height: 47px;
  background-color: #383838;
  border-radius: 5px;
  border: 0;
  color: #fff;
}

@media screen and (max-width: 370px) {
  .main-cont h2 {
    font-size: 24px;
  }
}
.gnb-sub .hospital {
  color: #00AEAA;
  border-color: #8d8d8d;
}

.sub-intro {
  font-family: "SOYOMapleBoldTTF";
  font-size: 32px;
}

.cont-inner {
  padding: 80px 0;
}

.hospital-intro {
  padding-top: 22px;
}
.hospital-intro .intro-image {
  width: 100%;
  height: 172px;
  margin-bottom: 24px;
  background-image: url(../../images/sub/1-상단배너.png);
  background-size: cover;
}
.hospital-intro span {
  font-size: 16px;
  color: #79C3B8;
}
.hospital-intro h2 {
  margin-top: 16px;
}
.hospital-intro p {
  font-size: 14px;
  color: #676767;
  margin-top: 24px;
}
@media screen and (max-width: 370px) {
  .hospital-intro p {
    font-size: 13px;
  }
}

.reason-box-wrap {
  position: relative;
}

.reason-box {
  position: absolute;
  z-index: -1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 322px;
  background-color: #00AEAA;
  background-image: url(../../images/sub/1-reason.png);
  background-size: cover;
}

.hospital-reason {
  padding-bottom: 20px;
}
.hospital-reason h2 {
  margin-bottom: 72px;
  color: #fff;
}
.hospital-reason ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hospital-reason li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 60px;
  padding-top: 85px;
  width: 325px;
  height: 403px;
  border-top: 5px solid #00AEAA;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hospital-reason .reason-1,
.hospital-reason .reason-2,
.hospital-reason .reason-3 {
  position: relative;
}
.hospital-reason i {
  position: absolute;
  top: 45px;
  left: 147px;
  color: #00AEAA;
}
.hospital-reason h3 {
  font-size: 30px;
}
.hospital-reason p {
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  color: #676767;
}
.hospital-reason .reason-1 p {
  padding-left: 59px;
}
.hospital-reason .reason-2 p {
  padding-left: 54px;
}
.hospital-reason .reason-3 p {
  padding-left: 42px;
}

.hospital-special {
  padding-bottom: 40px;
}
.hospital-special h2 {
  margin-bottom: 40px;
}
.hospital-special li {
  font-size: 28px;
}
.hospital-special .special-image {
  width: 100%;
  height: 242px;
  background-size: cover;
}
.hospital-special .point-1 {
  background-image: url(../../images/sub/1-point1.png);
}
.hospital-special .point-2 {
  background-image: url(../../images/sub/1-point2.png);
}
.hospital-special .point-3 {
  background-image: url(../../images/sub/1-point3.png);
}
.hospital-special .special-txt {
  padding: 26px 25px 40px;
  text-align: left;
}
.hospital-special span {
  color: #79C3B8;
}
.hospital-special p {
  margin-top: 16px;
  font-size: 14px;
  color: #676767;
}

.hospital-value {
  background-color: #f0f3f5;
}
.hospital-value ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.hospital-value li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 265px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #79C3B8;
  border-radius: 265px;
}
.hospital-value .value-2 {
  background-color: #00AEAA;
}
.hospital-value .v1 {
  font-size: 28px;
}
.hospital-value .v2 {
  margin: 21px 0 36px;
  font-size: 14px;
  color: #8d8d8d;
}
.hospital-value .value-img1,
.hospital-value .value-img2,
.hospital-value .value-img3 {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.hospital-value .value-img1 {
  background-image: url(../../images/sub/value1.png);
  background-size: cover;
}
.hospital-value .value-img2 {
  background-image: url(../../images/sub/value2.png);
  background-size: cover;
}
.hospital-value .value-img3 {
  background-image: url(../../images/sub/value3.png);
  background-size: cover;
}

:root {
  --swiper-theme-color: #79C3B8 !important;
}

.gnb-sub .digestive {
  color: #00AEAA;
  border-color: #8d8d8d;
}

h2 {
  font-size: 28px;
}

.digestive-intro {
  padding-top: 22px;
  text-align: left;
}
.digestive-intro .int-image {
  height: 150px;
  background-image: url(../../images/sub/2-banner.png);
  background-size: cover;
}
.digestive-intro .int-typo {
  padding: 0 25px;
}
.digestive-intro h2 {
  margin-top: 22px;
}
.digestive-intro .dig-tit {
  margin-top: 16px;
  font-size: 14px;
  color: #676767;
}
@media screen and (max-width: 370px) {
  .digestive-intro h2 {
    font-size: 26px;
  }
  .digestive-intro .dig-tit {
    font-size: 12px;
  }
}

.digestive-symptom {
  background-color: #f0f3f5;
}
.digestive-symptom p {
  padding-top: 16px;
  padding-bottom: 22px;
}
.digestive-symptom ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digestive-symptom li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 235px;
  height: 50px;
  margin-top: 14px;
  border-radius: 235px;
  background-color: #fff;
}
.digestive-symptom li i {
  margin-left: 70px;
  margin-right: 12px;
  color: #00AEAA;
}
.digestive-symptom li p {
  padding: 14px 0;
}

.digestive-checkup p {
  padding-top: 16px;
  padding-bottom: 36px;
  color: #676767;
}
.digestive-checkup ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.digestive-checkup li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 49%;
  height: 188px;
  border: 1px solid #8d8d8d;
}
.digestive-checkup .checkup-img {
  width: 64px;
  height: 64px;
}
.digestive-checkup .blood-img {
  background-image: url(../../images/sub/blood.png);
}
.digestive-checkup .radiation-img {
  background-image: url(../../images/sub/radiation.png);
}
.digestive-checkup .ultrasonic-img {
  background-image: url(../../images/sub/ultrasonic.png);
}
.digestive-checkup .stool-img {
  background-image: url(../../images/sub/stool.png);
}
.digestive-checkup .urine-img {
  background-image: url(../../images/sub/urine.png);
}
.digestive-checkup .kit-img {
  background-image: url(../../images/sub/kit.png);
}
.digestive-checkup .number {
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  color: #fff;
  border-radius: 25px;
  background-color: #00AEAA;
}
.digestive-checkup .name {
  margin: 10px 0 12px;
  font-size: 20px;
  font-weight: bold;
}

.digestive-food {
  background-color: #f0f3f5;
}
.digestive-food h2 {
  text-align: center;
  margin-bottom: 40px;
}
.digestive-food .swiper {
  width: 100%;
  height: 100%;
  padding: 0 0 60px;
}
.digestive-food .swiper-slide {
  width: 249px;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.digestive-food .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.digestive-food span {
  padding: 15px 0 10px 26px;
  font-size: 28px;
  font-weight: bold;
}
.digestive-food .food-txt {
  border-top: 1px solid #f0f3f5;
}
.digestive-food p {
  padding: 13px 0 16px 25px;
  font-size: 14px;
  text-align: left;
}
.digestive-food .food-image {
  width: 249px;
  height: 183px;
}
.digestive-food .onion {
  background-image: url(../../images/sub/2-onion.png);
}
.digestive-food .grape {
  background-image: url(../../images/sub/2-grape.png);
}
.digestive-food .milk {
  background-image: url(../../images/sub/2-milk.png);
}
.digestive-food .coffee {
  background-image: url(../../images/sub/2-coffee.png);
}
.digestive-food .nut {
  background-image: url(../../images/sub/2-nut.png);
}
.digestive-food .dried {
  background-image: url(../../images/sub/2-dried.png);
}
.digestive-food .swiper-horizontal > .swiper-pagination-bullets, .digestive-food .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: auto;
  bottom: 0;
}/*# sourceMappingURL=comm.css.map */